.App {
  text-align: center;
}


.App-header {
  background-color: #212328;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.marker-icon {
  color: #ef233c;
  font-size: 36px !important;
  z-index: -1;
  transition: color 0.15s linear !important;
}

.marker-icon:hover {
  color: #FF4B33 !important;
  /* font-size: 56px !important; */ 
  transition: color 0.15s linear;
}



